<body>
  <app-logout></app-logout>
    <div class="logo-container">
        <img src="../../../assets/image/image.png" alt="Wafacash">
    </div>
    <div class="card-container">
        <div class="card" (click)="redirectToAddTransfer()" >
          <div class="card-body">
            <h5 class="card-title">Ajouter un transfert</h5>
            <p class="card-text">Cliquez ici pour ajouter un transfert.</p>
          </div>
        </div>
        
      
        
        <div class="card" >
          <div class="card-body" (click)="redirectToAdmin()">
            <h5 class="card-title">Page d'administration</h5>
            <p class="card-text">Accédez à la page d'administration.</p>
          </div>
        </div>
      </div>
</body>
